body {
  margin: 0;
  font-family: Nimbus Sans;
  font-style: Regular;
  display: relative;
}

.nav-container {
  background-color: hsla(237, 90.9%, 8.6%, 1);
  width: 1480px;
  height: 800px;
  clip-path: polygon(100% 0, 100% 95%, 93% 98%, 0 87%, 0 0);
}

.topnav {
  display: flex;
  overflow: hidden;
  background-color: hsla(237, 90.9%, 8.6%, 1);
  justify-content: center;
  width: 90%;
  height: 90.7px;

}

.topnav a {
  color: white;
  display: inline-block;
  text-align: center;
  padding: 37px 16px;
  text-decoration: none;
  font-size: 16px;
}

.topnav img {
  display: inline-block;
  text-align: center;
  padding: 30px 16px;
}

.topnav .icon {
  display: none;
}

.payment_nav {
  text-align: center;

}

.payment_content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -200px;
  border-radius: 12px;

}
.payment_content .drop_down_color{
 font-size: 14px;
 text-align: start;
 padding-left: 40px;
 margin-top: 20px;
 color: #b2abab;
 
}
.pay_feature-items .grey_color{
  color: #797373;
}

.payment_content div {
  float: none;
  color: hsla(237, 90.9%, 8.6%, 1);
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}

.pay_feature_grid {
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.pay_feature_container {

  display: flex;
  flex-direction: row;
  height: fit-content;
  width: fit-content;
}

.pay_feature_container:hover {
  box-shadow: 0 4px 8px 0 rgba(162, 126, 126, 0.1);
  transition: 0.3s;

}

.pay_feature-items:first-child {
  flex: 1;
}


.pay_feature_container img {

  border-radius: 999px;
  width: 32px;
  height: 32px
}

.topnav a:hover,
.payment_nav:hover {
  color: hsla(212, 82.0%, 54.3%, 1);
}

.payment_content div:hover {
  color: hsla(212, 82.0%, 54.3%, 1);
}

.payment_nav:hover,
.topnav a:hover .payment_content {
  display: block;
}

.payment_a {
  padding-bottom: 10px;
}

.payment_a:hover .line {
  margin-top: 20px;
  width: 68px;
  height: 4px;
  background-color: hsla(212, 82.0%, 54.3%, 1);

}

.below_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 160px;
}

.container-lander {
  flex: 1;
}

.container-lander:first-child {
  margin-right: 10px;
}

.line_green {
  display: inline-block;
  width: 24px;
  height: 4px;
  margin-bottom: 1rem;
  background-color: hsla(158, 52.7%, 59.4%, 1);
}

.sign_up-btn {
  color: white;
  background-color: #2B84EA;
  border-radius: 4px;
  padding: 16px 20px;
  margin: 4px;
  margin-top: 10px;
  display: inline-block;
  position: relative;
  font-weight: 800;
  font-size: 16px;
}
.sign_up-btn_green {
  color: white;
  background-color: #2B84EA;
  border-radius: 4px;
  padding: 16px 20px;
  margin: 4px;
  margin-top: 10px;
  display: inline-block;
  position: relative;
  font-weight: 800;
  font-size: 16px;
  padding-right: 70px;
}
.shape::before{
  content: '';
  position: absolute;
  display: block;
  width: 45px;
  height:60px;
  background-color: #61CEA6;
  top: 0;
  opacity: 0.9;
  right:10px;
  transform: skew(20deg);
  
}

.sign_up-btn:hover{
  background-color: #0b72e7;
}
.sign_up-btn_green:hover{
  background-color: #0b72e7;
}


.text_color {
  color: hsla(237, 90.9%, 8.6%, 1);
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 0px;
}

.text_color_for_feature {
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 0px;
  
}


h1.text_color_for_feature_finance {
  margin-right: -114px;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 0px;
}
.payment_items .sign_up-btn{
  margin-bottom: 0px;
}

.text_color_for_checkout {
  color: #e2e2e2;
  font-size: 20px;
  text-align: center;
  margin-bottom: 0px;
}

.container-payment_gateway_first {

  display: flex;
  border: solid rgb(191, 192, 196, 0.5);
  border-radius: 0.5rem;
  border-width: 1px;
  margin-left: 13%;
  background-color: white;
  margin-right: 13%;
  justify-content: center;
  margin-top: 60px;
 
}

.container-payment_gateway {

  display: flex;
  border: solid rgb(191, 192, 196, 0.5);
  border-radius: 0.5rem;
  border-width: 1px;
  margin-left: 13%;
  margin-right: 13%;
  justify-content: center;
  background-color: #181c2e;
  margin-top: 60px;
  
}
.payment_items {
  flex: 1;
  padding-left: 50px;
  padding-top: 30px;
}

.payment_items:first-child {
  margin-right: 0px;
}

ul li {
  margin-bottom: 15px;
}

li::before {
  content: " ";
  border: 2px solid;
  border-left: 0;
  border-top: 0;
  width: 0.1rem;
  height: 0.9rem;
  position: relative;
  transform: rotate(45deg);
  float: left;
  padding-left: 6px;
  border-color: hsla(166,58.4%,69.8%,1);
  margin-left: -30px;
}

.container-grid-box {
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding-left: 50px;
  padding: 10px;
  margin-left: 12%;
}
.payment_items .blue-btn:hover{
  color: #4B94ED;
}
.payment_features {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  position: relative;
  border: solid rgb(191, 192, 196, 0.5);
  border-radius: 0.5rem;
  border-width: 1px;
  width: 350px;
}

.flex-side {
  flex-grow: 1;
  z-index: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.count {
  width: 100px;
  height: 100px;
  background-color: white;
  z-index: 0;
  transform: translateX(70%);
  rotate: -45deg;
  border-left: solid rgb(191, 192, 196, 0.5);
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0);
   border-left-color :0.3s;
  box-shadow: 0.3s;
  border-width: 1px;
}

.payment_features:hover .count {
  transition: opacity 0.2s ease; 
  border-left-color: #d5cdcd;
  box-shadow: 0 -5px 10px rgba(255, 255, 255, 0.3);
  filter: brightness(1.1);
}

.count img {
  rotate: 45deg;
  height: 50px;
  width: 50px;
  margin-left: -70px;
}

.payment_features_items {
  position: relative;
  width: 50%;
  padding-left: 20px;
  border-radius: 5px;
  margin: 10px;
  z-index: 3;
  background-color: white;
}

.payment_features:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: url(blue-wave\ 1.svg) right bottom no-repeat;
  transition: opacity 0.2s ease;
}

.payment_features_items p {
  color: rgb(152, 147, 147);
}

.payment_features_items .blue-btn {
  color: #2B84EA;
}
.sec-2{
  background: url(dots-with-cut.bde9e78f.png) right top no-repeat;

}
.payment-suite{
  text-align: center;
  margin-top: 100px;
  background-position: 10%;
  background-size: 15% ;
}

.section-payment_suite {
  background-color: #181c2e;
  width: 1480px;
  height: 1580px;
  position: relative;
  clip-path: polygon(0 0, 100% 10%, 100% 77%, 71% 89%, 27% 83%, 0 99%);
  padding-top: 300px;
}
.section-payment_suite .img_1{
   position:absolute;
   top:300px;
   width: 200px;
   left: 50px;
   z-index: -1;
}
.section-payment_suite .img_2{
  position:absolute;
  top:600px;
  width: 270px;
  right: 15px;
  z-index: -1;
}

.part4_grid {
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding-left: 20px;
  padding: 10px;
  margin-left: 9%;
  margin-top: 50px;
}

.part4_grid_item {
  box-shadow: 0 4px 8px 0 rgba(162, 126, 126, 0.1);
  transition: 0.3s;
  width: 60%;
  height: fit-content;
  padding-right: 100px;
  padding-bottom: 60px;
  padding-left: 20px;
  margin: 10px;
  border: solid rgb(191, 192, 196, 0.5);
  border-radius: 0.5rem;
  border-width: 1px;
}

.part4_grid_item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border: none;
}

.part4_grid_item p {
  color: rgb(152, 147, 147);
}

.pay_feature_grid_item {
  box-shadow: 0 4px 8px 0 rgba(162, 126, 126, 0.1);
  transition: 0.3s;
  padding: 1.5rem;
  border-radius: 5px;
  margin: 10px;
  max-width: 100%;
  background: url(background_wave.svg) -2px -2px no-repeat;
  background-color: white;
}

.pay_feature_grid_item p {
  color: rgb(152, 147, 147);
}

.pay_feature_grid_item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: url(background_onhover.svg) -2px -2px no-repeat;
  transition: opacity 0.2s ease;
  background-color: white;

}

.feature-section {
  padding-bottom: 8rem;
  width: 100%;
  height: 900px;
  clip-path: polygon(100% 5%, 100% 71%, 87% 89%, 0 85%, 0 19%);
 margin-bottom: 0px;
  background-color: rgb(30, 104, 190);
}

.container_grid-feature {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  padding-left: 20px;
  padding: 10px;
  margin-left: 10%;
  margin-top: 50px;
}

.container-join_business {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f8fe ;
  padding-left: 160px;
  margin-top: -100px;
}

.join_bussiness_items h2{
  margin-right: 100px;
  width: 420px;
  margin-top: 10px;
}
.join_bussiness_items p{
  line-height: 1.5;
  width: 450px;
}
.join_bussiness_items .underline-st{
  width: 25px;
}
.join_bussiness_items .sign_up-btn{
  width: 110px;
}

.grad {
  --gradient-size: 6rem;
  --gradient-color: #F5F8FE;
  position: absolute;
  width: 100%;
  height: 100%;
}

.scroll-parent {
  position: relative;
  width: 100vw;
  height: 35rem;
  margin-left: 100px;
  overflow-y: hidden;

}

.scroll-parent::before {
  content: " ";
  height: 100px;
  width: 500px;
  position: absolute;
  top: 0;
  background-image: linear-gradient(#F5F8FE, transparent);
  z-index: 1;

}

.scroll-parent::after {
  content: " ";
  height: 100px;
  width: 500px;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(transparent, #F5F8FE);
}
.scroll-element {

  width: inherit;
  height: inherit;
  position: absolute;
  left: 0%;
  top: 0%;
  overflow: auto;

}

.primary {
  animation: primary 10s linear infinite;
}

.secondary {
  animation: secondary 10s linear infinite;
}

@keyframes primary {
  from {
    top: 0%;
  }

  to {
    top: -100%;
  }
}

@keyframes secondary {
  from {
    top: 100%;
  }

  to {
    top: 0%;
  }
}


.underline {
  margin-left: 50%;
  width: 24px;
  height: 4px;
  background-color: hsla(158, 52.7%, 59.4%, 1);
}

.dot-img-2 {
  text-align: center;
  margin-top: 100px;
  background-position: 15%;
position: relative;
}

.picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pic:first-child {
  margin-right: 20px;
}

.pic_div {
  background: url(quotes.svg) top left no-repeat;
  line-height: 2px;
  height: 40px;
  width: 35px;
  background-size: contain;
  margin-bottom: 0px;
}

.footer_head {
  background-position: center;
  position: absolute;

  background: url(footer-head-bg.990e26df.svg) no-repeat;
  background-size: 1480px 550px;
  width: 100%;
  height: 100%;

}

.footer_text {
  display: flex;
  padding-top: 100px;
  text-align: center;
  align-items: flex-start;
  position: relative;
  flex-direction: column;
  padding-left: 15%;
}
.footer_text >img{
  position: absolute;
  right:200px;
  width: 250px;
  bottom: -15px;
  
}

.flex_inline{
  display: flex;
  justify-content: space-between;
   white-space: nowrap;
 
}
.flex_items{
  flex: 1;
  margin-right: 10%;
 color: #f5f8fd;
 font-weight: 100;
}


 .flex_items p::before {
  content: " ";
  border: 2px solid;
  border-left: 0;
  border-top: 0;
  width: 0.1rem;
  height: 0.9rem;
  transform: rotate(45deg);
  float: left;
  padding-left: 6px;
  border-color: hsla(166,58.4%,69.8%,1);
 
}
.footer_text p {
  color: #ffffff;
  font-size: 16px;

}

.footer-section {
  display: flex;
  justify-content: center;
  margin-top: 300px;
  background: linear-gradient(to right, #eef9fe, #edf7ff) 0rem 0rem;
  height: fit-content;
  padding-top: 280px;
}

.footer_container {
  display: flex;
  text-align: left;
  flex-direction: row;
  width: 1040px;
  height: 1080px;
  justify-content: center;

}

.footer_items {
  height: 1040px;
  box-flex: 1;
  flex-grow: 1;
  flex-basis: 280px;
  margin-right: 20px;

}

.footer_items p {
  font-size: 0.875rem;
  color: hsla(227, 18%, 39.2%, 1);
  line-height: 1.625;
}

.footer_link {
  box-flex: 2;
  flex-grow: 2;
  flex-basis: 200px;
}

.footer_link p {
  color: hsla(212, 90.9%, 47.5%, 1)
}

.footer_link h4 {
  color: hsla(227, 18%, 39.2%, 1);
  font-weight: 700;
  letter-spacing: 0.05em;
}



/* re-edit */


.text {
  font-weight: 800;
}
.pay_feature_container .text:hover::after{
  content: " >";
  padding-left: 20px;
}

.login-c {

  color: white;
  border-radius: 2px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
  cursor: pointer;
  padding: 12px 20px;
  font-weight: 800;
  border: 1px solid #2B84EA;
  margin-right: 15px;
}

.sign-c {
  color: #4B94ED;
  background-color: white;
  border-radius: 2px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 800;
  padding: 12px 25px;
  font-size: 14px;
}
.sign-c:hover{
  color:#2B84EA;
  cursor: pointer;
}

.flag {
  margin-top: -10px;
  padding-left: 50px;
  width: 28px;

}
.topnav > img.flag::after{
  content: 'g ';
  color: #61CEA6;
  width: 10px;
  height: auto;
}

.text-big {
  color: white;
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 2px;
}

.text-padding {
  color:#b1b3bb;
  font-size: 18px;
  height: 80px;
  width: 90%;
  line-height: 1.5;
}


.container-lander>img {
  width: 670px;
  height: 558px;
  padding-right: 200px;
}

.text_large {
  color: hsla(237, 90.9%, 8.6%, 1);
  font-weight: 800;
  margin-bottom: 0px;
  font-size: 28px;
  text-align: left;
}
h1.text_large{
    margin-right: -100px;
}

.blue-color {
  color: #2B84EA
}

.know {
  color: #2B84EA;
}

.pay_feature_grid_item .blue-btn {
  color: #2B84EA;
  font-weight: 800;
  display: inline;
  margin-left: 15px;

}

.part3_grid_item .blue-btn {
  color: #2B84EA;
  font-weight: 800;
  display: inline;
  margin-left: 15px;

}

.payment_items>img {
  height: 519px;
  width: 600px;
  z-index: 1;
}

.img-sty {
  height: 3rem;
  width: 3rem;
  border-radius: 9999px;
  clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 97% 69%, 71% 97%, 52% 81%, 34% 65%, 0 31%, 0 31%, 20% 10%);
  background-color: hsla(212, 82.0%, 54.3%, 1);
  margin-right:11px;
}

.text_color-pay_links {
  color: hsla(237, 90.9%, 8.6%, 1);
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 0px;
  text-align: left;
}
.dot-img .text_color-pay_links{
  font-size: 18px;
}

.payment_items>h1 {
  font-size: 28px;
  text-align: left;
  line-height: 50px;
}

.ul-col {
  list-style: none;
  color: white;
  padding-top: 30px;
}

.ul-style {
  list-style: none;
  padding-top: 30px;
}
ul.ul-col {
  line-height: 2;
}
ul.ul-style {
  line-height: 1.5;
}
.margin {
  margin-top: 10px;
}

.text_color-white {
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 0px;
  text-align: left;
}

.img-sty {
  height: 3rem;
  width: 3rem;
  border-radius: 9999px;
  background-color: hsla(212, 82.0%, 54.3%, 1);
}

.bg {
  background-color: #181c2e;
}

.payment_features>div {

  background-color: transparent;
}

.white {
  color: white;
}

#padding {
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin-left: 12.5%;
  padding-right: 60px;
  padding-bottom: 25px;
  padding-left: 25px;
  border: solid rgb(191, 192, 196, 0.5);
  border-radius: 0.5rem;
  border-width: 1px;
  margin-top: 50px;
}

.pad {
  margin-left: 20px;
  padding-right: 80px;
}

.text_color_for_feature {
  font-size: 1.5rem;
  
}

.dot-img {
  position: relative;
}
.dot-img .img_1
{
position: absolute;
top: -10%;
right:0;
z-index: -1;
}
.dot-img .img_2
{
position: absolute;
top: -10%;
left: 40%;
z-index: -1;
}
.container{
  position: relative;
}
.container .img_1{
  position: absolute;
  left:10%;
  top: 70%;
  z-index: -1;
  
}
.container .img_2{
  position: absolute;
  right: 0;
  transform:rotate(180deg);
  z-index: -1;
}

.txt_color-product_suite {
  color: hsla(237, 90.9%, 8.6%, 1);
  font-weight: 800;
  font-size: 40px;
  text-align: left;
  margin-bottom: 0px;
}

.text-center {
  text-align: center;
  max-width: 450px;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  margin: 0px 310px;
}

.max-width {
  padding-top: 200px;
  max-width: 1080px;
  margin: auto;
}

.grid_feature_items {
  color: white;
}

.grid_feature_items>p {
  font-weight: 400;
}

.underline-st {
  margin-left: 0;
  width: 24px;
  height: 4px;
  background-color: hsla(158, 52.7%, 59.4%, 1);
}


.scroll-height {
  width: 500px;
  height: auto;
}

.li-heig {
  text-align: left;
  width: 500px;
  line-height: 10px;
}

.rad {
  border-radius: 10px;
}

.height_align {
  text-align: left;
  width: 500px;
  line-height: 10px;
}

.black {
  color: #181c2e;
}

.subham {
  font-size: 28px;
}

.heading {
  font-size: 30px;
  font-weight: 300;
  line-height: 50px;
}

.height_align img {
  margin-top: 20PX;
}

.get-st {
  color: #4d91e0;
  background-color: white;
  border-radius: 2px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 12px 20px;
  font-weight: 800;
  font-size: 14px;

}
.get-st:hover{
  color: #2d74e0;
  cursor: pointer;
}

#big {
  font-size: 10px;
}

.blue-btn {
  color: #2B84EA;
  font-weight: 800;
  display: inline;
  margin-left: 15px;
  cursor: pointer;
}
.payment_items > .blue-btn_hover:hover{
  color: #344a6c;
}
.payment_items .sign_up-btn{
  margin-bottom: -700px;
  margin-top: 20px;
}
.blue-btn_hover {
  color: #2B84EA;
  font-weight: 800;
  display: inline;
  margin-left: 15px;
  cursor: pointer;
}
.pic.height_align {
  padding-left: 60px;
}
.dot-img-2 >:nth-child(2){

 font-size: 24px;
 font-weight: 800;
 text-align: center;
}
.dot-img-2 :nth-child(3){
  margin-bottom: 70px;
}
.dot-img-2>img{
  position: absolute;
  top:0;
  left: 10%;
  width:200px;
  z-index: -1;
}
.text_color_for_feature_al {
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
  
}
.footer_text :nth-child(4)
{
  font-size: 16px;
  font-weight: 100;

}

.svg_arrow{
  width: 1em;
  position: absolute;
    height: 1em;
    display: inline-block;
    line-height: 1em;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0; 
    color: currentColor;
   right:320px;
   top:1350px;
    transform: skew(20deg);
}

.svg_arrow_1{
  width: 1em;
  position: absolute;
    height: 1em;
    display: inline-block;
    line-height: 1em;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0; 
    color: currentColor;
   right:30px;
   
    transform: skew(20deg);
}
.count_black {

  width: 100px;
  height: 100px;
  background-color: white;
  z-index: 0;
  transform: translateX(70%);
  rotate: -45deg;
  border-left: solid rgb(191, 192, 196, 0.5);
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0);
   border-left-color :0.3s;
  box-shadow: 0.3s;
  border-width: 1px;

}

.payment_features:hover .count_black {
 
  transition: opacity 0.2s ease; 
  border-left-color: #413b3b;
  box-shadow: 0 0 0 -5px #171c2b;
  filter: brightness(1);

}

.count_black img {
  rotate: 45deg;
  height: 50px;
  width: 50px;
  margin-left: -70px;
}
.shadow:hover{
  box-shadow: 5px 5px 16px 10px rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s ease;
}